body {
  margin: 0;
  padding: 0;
  font-family: TT Lakes;
}
.sidebar {
  max-width: 320px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  flex-shrink: 1;
  transform: translateY(-100vh);
}
.sidebar-header__logo + .sidebar-button:last-child {
  flex-basis: 35%;
  display: flex;
  justify-content: flex-end;
}
.sidebar-header {
  width: 100em;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-header__inner {
  max-width: 272px;
  width: 100em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.64rem 0rem 0rem 0rem;
  flex-grow: 2;
}
.sidebar-button {
  background: transparent;
  border: none;
  padding: 0;
  transition: 1s;
}
.sidebar-button:hover {
  filter: hue-rotate(180deg);
}
.inner-wrapper {
  max-width: 296px;
  width: 21.1rem;
}
.sidebar-main {
}
.sidebar-main__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.sidebar-main__item {
  list-style-type: none;
}
.sidebar-button {
}
.sidebar-main__button {
  background: transparent;
  border: none;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  padding: 16px 0px;
  width: max-content;
}
.sidebar-main__button_active {
  color: #7e7e82;
}
.sidebar-main__button_active::before {
  content: "";
  width: 4px;
  height: 32px;
  display: inline-block;
  background-color: cyan;
  border-radius: 0% 25px 25px 0%;
  transform: translateX(-1.5rem) translateY(0.55rem);
}
.inner-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-footer {
}
.sidebar-footer__button {
  display: flex;
  width: 11.42rem;
  justify-content: space-between;
}

.sidebar-footer__contacts {
  margin: 0;
  list-style: none;
  padding: 0;
}
.sidebar-footer__email {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  margin-bottom: 0px;
}
.sidebar-footer__number {
  font-family: TT Lakes;
  font-size: 24px;
  line-height: 32px;
  font-weight: bolder;
  letter-spacing: -0.6px;
  color: #1b1c21;
  margin: 12px 0px;
}
.sidebar-footer__langs {
  display: flex;
  width: 6.42rem;
  justify-content: space-between;
  padding: 0;
}
.sidebar-footer__lang {
  list-style-type: none;
}
.sidebar-footer__lang_active {
  color: #7e7e82;
}

.overlay {
  height: 100vh;
  filter: blur(5px);
  z-index: -1;
}
